---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Blog from '../components/Blog.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
import '../styles/global.css';
---

<Layout title="Roshit - Full Stack Developer | Portfolio">
  <main>
    <Hero />
    <About />
    <Projects />
    <Blog />
    <Contact />
  </main>
  <Footer />
  <ScrollToTop />
</Layout>
